#link { 

	background-color: white; 
}

#footer { 

   clear: both;
	text-align: center; 
	padding: 6px; 
}
		
#container { 

	float: left; 
	position: relative; 
	left: 50%; 
	margin-top: 1em; 
}

#inner { 

	position: relative; 
	left: -50%; 
	padding-left: 3px; 
	padding-right: 3px; 
	padding-top: 3px; 
	padding-bottom: 1em; 
	border: 1px solid black; 
	background: white 
}

#previous, #next { 

	position: absolute; 
	bottom: 0; 
	padding-left: 3px; 
	padding-right: 3px; 
	padding-bottom: 3px; 
}

#previous { 

	left: 0; 
}

#next {
 
	right: 0; 
}
	
#spacer { 

	height: 10px; 
}

table { 

	background-color: white; 
	padding: 3px; 
	margin: 0px; 
	border: 1px solid black; 
}

body { 

	background: lightgray; 
}

a { 

	color : #3c3; font-family : verdana, arial, helvetica, sans-serif; text-decoration : none; 
}

a:link { 

	color : #3c3; 
}
			
a:visited { 
	
	color : #3c3; 
}
			
a:hover { 
	
	text-decoration : underline; 
}
			
.brightline { 

	background-color: white; 
}

.darkline {
	
	background-color: lightgray; 
}
