#link { 

	background-color: white; 
}

#footer { 

	clear: both;
	text-align: center;
	padding: 6px; 
}
		
#container { 

	float: left; 
	position: relative; 
	left: 50%; 
	margin-top: 1em; 
}

#inner { 

	position: relative; 
	left: -50%; 
	padding-left: 3px; 
	padding-right: 3px; 
	padding-top: 3px; 
	padding-bottom: 1em; 
	border: 1px solid black; 
	background: white 
}

#previous, #next, #confirm { 

	position: absolute; 
	bottom: 0; 
	padding-left: 3px; 
	padding-right: 3px; 
	padding-bottom: 3px; 
}

#previous { 

	left: 0; 
}

#next, #confirm {
 
	right: 0; 
}
	
#spacer { 

	height: 10px; 
}

#error { 

	background-color: white; 
	padding: 3px; 
	border: 1px solid black; 
}

table { 

	background-color: white; 
	padding: 3px; 
	margin: 0px; 
	border: 1px solid black; 
}

td {
	
	padding: 2px;
}

body { 

	font-size: 1em;
	background: lightgray; 
}

a { 

	color : #3c3; font-family : verdana, arial, helvetica, sans-serif; text-decoration : none; 
}

input.submitimg {

	border: none;
	vertical-align: middle;
	padding: 0px;
	margin: 0px;
}

input.submittext { 

	margin: 0px;
	padding: 0px;
	border: none;
	cursor: pointer;
	cursor: hand;
	font-size: 1em;
	color : #3c3;
	background-color: transparent;
	font-family : verdana, arial, helvetica, sans-serif; text-decoration : none; 
	vertical-align: middle;
}

a:link { 

	color : #3c3; 
}
			
a:visited { 
	
	color : #3c3; 
}
			
a:hover { 
	
	text-decoration : underline; 
}
			
.brightline { 

	background-color: white; 
}

.darkline {
	
	background-color: lightgray; 
}

.tooltip {

	position: relative;
}

.tooltip:hover {

	background: transparent;
	z-index: 100;
}

.tooltip span {

	display: none;
	text-decoration: none;
}

.tooltip:hover span {

	display: block;
	position: absolute;
	background: white;
	padding: 2px;
	border: 1px solid black;
}
